<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Development</title>

<body>
    <div class="header hamburger">
        <div class="title"><span class="text">Home</span></div>
        <div class="dropdown services">
            <div class="name">Services</div>
            <div class="holder">
                <div class="content">UI/UX Design</div>
                <div class="content">Branding & Identity</div>
                <div class="content">Front-End Development</div>
                <div class="content laster">Back-End Development</div>
            </div>

        </div>
        <div class="dropdown portfolio">
            <div class="name">Portfolio</div>
            <div class="holder">
                <div class="content">Websites</div>
                <div class="content">Mobile Apps</div>
                <div class="content">Branding & Logos</div>
                <div class="content laster">Marketing Campaigns</div>
            </div>

        </div>
        <div class="dropdown about">
            <div class="name last">About</div>
            <div class="holder">
                <div class="content">Our Team</div>
                <div class="content">Our Story</div>
                <div class="content laster">Contact Us</div>
            </div>

        </div>
    </div>

    <div class="main">
        <div class="mobile">
            <div class="title"><span class="text">Home</span></div>

            <div class="mobile_menu">
                <svg class="close hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>close</title>
                    <path
                        d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                </svg>
                <svg class="basic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>menu</title>
                    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                </svg>
                <!--<svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>menu-close</title><path d="M3 6H13V8H3V6M3 16H13V18H3V16M3 11H15V13H3V11M16 7L14.58 8.39L18.14 12L14.58 15.61L16 17L21 12L16 7Z" /></svg>-->
            </div>
        </div>
        <div class="vertical none">
            <div class="dropdown_v services">
                <div class="name"><span class="type">Services</span> <svg class="down svg"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-down</title>
                        <path d="M8 9H16L12 16" />
                    </svg>
                    <svg class="up svg none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-up</title>
                        <path d="M8 15H16L12 8" />
                    </svg>
                </div>
                <div class="holder_v none">
                    <div class="content">UI/UX Design</div>
                    <div class="content">Branding & Identity</div>
                    <div class="content">Front-End Development</div>
                    <div class="content laster">Back-End Development</div>
                </div>

            </div>
            <div class="dropdown_v portfolio">
                <div class="name"><span class="type">Portfolio</span><svg class="down svg"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-down</title>
                        <path d="M8 9H16L12 16" />
                    </svg>
                    <svg class="up svg none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-up</title>
                        <path d="M8 15H16L12 8" />
                    </svg>

                </div>
                <div class="holder_v none">
                    <div class="content">Websites</div>
                    <div class="content">Mobile Apps</div>
                    <div class="content">Branding & Logos</div>
                    <div class="content laster">Marketing Campaigns</div>
                </div>

            </div>
            <div class="dropdown_v about final">
                <div class="name last"><span class="type">About</span> <svg class="down svg"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-down</title>
                        <path d="M8 9H16L12 16" />
                    </svg>
                    <svg class="up svg none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>triangle-small-up</title>
                        <path d="M8 15H16L12 8" />
                    </svg>
                </div>
                <div class="holder_v none">
                    <div class="content">Our Team</div>
                    <div class="content">Our Story</div>
                    <div class="content laster">Contact Us</div>
                </div>

            </div>
        </div>
    </div>


    </div>
</body>

</html>