<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Development</title>

<body>
    <div class="header">
        <div class="title"><span class="text">Home</span></div>
        <div class="dropdown services">
            <div class="name">Services</div>
            <div class="holder">
                <div class="content">UI/UX Design</div>
                <div class="content">Branding & Identity</div>
                <div class="content">Front-End Development</div>
                <div class="content laster">Back-End Development</div>
            </div>

        </div>
        <div class="dropdown portfolio">
            <div class="name">Portfolio</div>
            <div class="holder">
                <div class="content">Websites</div>
                <div class="content">Mobile Apps</div>
                <div class="content">Branding & Logos</div>
                <div class="content laster">Marketing Campaigns</div>
            </div>

        </div>
        <div class="dropdown about">
            <div class="name last">About</div>
            <div class="holder">
                <div class="content">Our Team</div>
                <div class="content">Our Story</div>
                <div class="content laster">Contact Us</div>
            </div>

        </div>
    </div>
</body>

</html>